.chat__header
  .chat__header__left-header
    .chat__header__left-header__leftheader-title
      sample group
    %ul.chat__header__left-header__members
      %li.chat__header__left-header__members__member
        Member:sample
  .chat__header__right-header
    %a{ class:'chat__header__right-header__button', href:'#'}Edit
