.notification
.wrapper
.side-bar
.side-bar__header
	%h3.side-bar__header__name
	%ul.side-bar__header__lists
		%li.side-bar__header__lists__list
			%i.side-bar__header__lists__list__fa.side-bar__header__lists__list__fa-pencil-square-o.side-bar__header__lists__list__icon
		%li.side-bar__header__lists__list
			%i.side-bar__header__lists__list__fa.side-bar__header__lists__list__fa-cog.side-bar__header__lists__list__icon
			
.side-bar__groups

	.side-bar__groups__group
		.side-bar__groups__group__name
			sample
		.side-bar__groups__group__message
			sample


.chat
.chat__header

	.chat__header__left-header
		.chat__header__left-header__leftheader-title
		%ul.chat__header__left-header__members
			sample
			%li.chat__header__left-header__members__member
			sample
				
			
		.chat__header__right-header
		
		
				
			
.chat__messages.chat__js-messages
	.chat__messages.chat__js-messages__message
		.message__upper-message
			.message__upper-message__user-name
			.message__upper-message__date
		.message__lower-message
			%p.message__lower-message__content
.chat__form


	%form{ class:'js-form', id:'new_message', action:'/groups/messages', method: :post}
		%input{ type:'hidden' }
		%input{ type:'hidden', name:'authenticity_token'}
		%input{ class:'form_message js-content', placeholder:'type a message', type:'text', name:'message[content]', id:'message-content' }
		.form__mask
			%label{ class:'form__mask__image', for:'message_image'}
				%i.form__mask__image__fa.form__mask__image__fa-picture-o.form__mask__image__icon
				%input{ class:'hidden js-file', type:'file', name:'messaage[image]', id:'message_image'}
			%input{ type:'submit', name:'commit', value:'send', class:'form__submit' }

















